snippet fun
	function ${1:fname}(${2:...})
		$0
	end

snippet plugin
	return {
		'$1',
		config = function()
			local $2 = require('$2');

			$2.setup({

				})
			end
	}

snippet conf
	config = function()
		local $2 = require('$2');
	
			$2.setup({

				})
	end
		
		
		
