snippet fun
	function ${1:fname}(${2:...})
		$0
	end

snippet returnplugin
	return {
		'$1',
		config = function()
			local $2 = require('$2');

		${3:$2.setup({
				$4
				})
		end,}
	}

snippet returnplugin2
	return {
		'$1',
	config = function()
		local $2 = require('$2');
	
			$2.setup({
				$1
				})
	end,
	keymaps = {
		$3
	},

snippet depen
	dependencies = {
		$1
	},
		
		
		
