snippet vcustom
	<template>

	</template>

	<script>
		export default{

		   -- import from  '';
			name:"$TM_FILENAME_BASE",
			components : {

			},
			data(){
				return{
					${0}
				};
			},
			provided : {

			},
			methods:{

			},
			computed :{

			}
			
		}


	</script>

	<style scoped>

	</style>

